arch/scname.c
bin
test/hw
test/hw2
test/hw4
test/hwx
test/libcheuid.so
test/libtrace_write.so
src/8spc2tab
compile_flags.txt
Makefile_8spc
.c_bin
.lightly
#----------------
.classes
logs
*.log
node_modules
dist
dist-ssr
*.local
