arch/*.tmp
arch/arch.h
arch/scname.c
bin
test/hw
test/hw2
test/hw4
test/hwx
test/libcheuid.so
test/libtrace_write.so
compile_flags.txt
.c_bin
.lightly
#----------------
.classes
logs
*.log
node_modules
dist
dist-ssr
*.local
